.player-cart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
    color: green;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.player-cart-container:hover{
    background-color: rgb(252, 248, 243);
}

.player-cart-container img{
    width: 50px;
    height: 50px;
}