body{
    text-align: center;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 4px ), repeating-linear-gradient( #43445455, #434454 );
}